body
{
    background-size: cover;
}

button
{
    height: 30px;
    width: 200px;
    color: rgb(66, 221, 200);
    background-color: rgb(34, 60, 116);
    font-size: 19px;
    box-shadow: -7px -7px 7px rgb(255, 105, 228);
}
canvas
{
    box-shadow: -7px -7px 7px rgb(255, 105, 228);
    border-radius:5px;
    border: 6px solid rgb(187, 179, 245);
    height: 400px;
    width: 400px;

}

.heading
{
    font-size: 24px;
    width: 100%;
    margin: 0px;
    box-shadow: 7px 7px 7px rgb(255, 105, 228);
    
}

.note
{
    font-size: 16px;
    color: black;
    box-shadow: -7px -7px 7px rgb(255, 105, 228);
}

